.navbar {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logo {
    margin-left: 5%;
}

.logo img {
    width: 90%;
}

.nav-items {
    display: flex;
    margin-right: 5rem;
}

.nav-items button {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 0.7rem 1.3rem;
    cursor: pointer;
    font-size: 1.1rem;
    transition: border-color 0.3s ease;
    font-weight: 600;
}

.nav-items button:hover {
    border: 2px solid #ff00b8;
    background: linear-gradient(90deg, #0066FF 0%, #FF00B8 100%);
    color: transparent;
    -webkit-background-clip: text;
    transform: scale(1.05);
}

.menu-icon {
    display: none;
}

.mobile-menu{
    display: none;
}

.sidebar{
    display: none;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
    .navbar {
        width: 95%;
        height: 10vh;
    }

    .logo img {
        width: 60%;
    }

    .nav-items {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .mobile-menu.show{
        display: block;
    }

    .returnIcon{
        display: flex;
        justify-content: center;
    }

    
    .sidebar{
    display: block;
}

.bm-burger-button {
    position: absolute;
    width: 25px;
    height: 20px;
    top: 23px;
    right: 22px;
    cursor: pointer;
}

.bm-burger-bars {
    background: #fff;
}

.bm-menu {
    background: rgba(0, 0, 0, 0.6);
    margin-top: -8%;
}

.bm-menu-wrap{
    right: -150px;
}
.mobile-menu button{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    transform: translatey(80px) translateX(35px);
}
}