.box {
  border-radius: 102px;
  width: 90%;
  padding: 6rem 6rem;
  margin: 5rem ;
  background-color: #6E3289;
  outline: 2px solid transparent;
  box-shadow: 5px 7px 30px 0px rgba(176, 0, 255, 1);
}

.featuresTitle {
  font-weight: 900;
  font-size: 3.5rem;
  background: linear-gradient(89.94deg, #F474FF 0.04%, #05CCF8 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.featuresPara {
  width: 55%;
  font-weight: 600;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

.allcards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 85px;
  justify-items: center;
}

.card {
  border-radius: 10px;
  width: 90%;
  height: 120%;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.cardWrapper {
  background-color: #000;
  border-radius: 15px;
  position: relative;
}

.visible-image {
  width: 100%;
  height: 100%;
}

.cardInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translateY(0%);
  transition: transform 1s ease-in-out;
}

.card:hover .cardTitle {
  transform: translateY(-50%);
}

.card:hover .cardT4 {
  transform: translateY(-30%);
}

.card:hover .cardT5{
  transform: translateY(-15%);
}

.cardTitle {
  margin: 0;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  transform: translateY(300%);
  transition: transform 0.5s ease-in-out;
}

.cardT4 , .cardT5 {
  transform: translateY(150%);
}

.cardPara {
  margin: 0;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.5s ease;
}

.card:hover .cardPara {
  visibility: visible;
  opacity: 1;
}

.card:hover .visible-image {
  opacity: 0.2;
}


@media only screen and (max-width: 768px) {
  
  .card {
    width: 100%;
  }

  .featuresTitle {
    font-size: 1.8rem;
  }

  .featuresPara {
    font-size: 0.8rem;
    width: 80%;
    margin-bottom: 0rem;
  }

  .box {
    width: 100%;
    margin: 0rem 0rem 4rem 0rem;
    border-radius: 0px;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
  }

  .allcards{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .cardTitle{
    font-size: 1.2rem;
  }

  .cardPara{
    font-size: 0.8rem;
  }

}

@media only screen and (max-width: 460px) {

  .box{
    width: 100%;
  }

  .cardInfo{
    padding: 1rem;
  }

  .cardTitle{
    font-size: 1.1rem;
    transform: translateY(230%);
  }

  .cardPara{
    font-size: 0.6rem;
  }

  .cardT4 , .cardT5{
    transform: translateY(100%);
  }

}

@media only screen and (max-width: 379px) {

  .cardTitle{
    transform: translateY(50%);
  }

  .card:hover .cardTitle{
    display: none;
  }
}

@media only screen and (max-width: 1500px) {

  .box{
    width: 95%;
    margin: auto ;
    
  }
}