.footerDiv {
    display: flex;
    justify-content: center;
    padding: 1rem !important;
    background: linear-gradient(90deg, #000000 0%, #70338C 100%);
}

#footerImg:hover {
    animation: scaleup(0.2s);
    transform: scale(1.1);
    transition: ease 0.4s all;
}

.FooterContent{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.footerIcons {
    color: white;
    margin: 0 0 0 1.2rem;
    transform: scale(1);
    cursor: pointer;
}

#footerIcons{
    padding-left: 6px;
}

.copyrightText {
    color: #9497A1;
    font-size: 14px;
    text-align: center;
    padding-bottom: 2.5rem;
    padding-top: 1.5rem;
    background: linear-gradient(90deg, #000000 0%, #70338C 100%);
}

@media only screen and (max-width : 768px) {
    .footerDiv {
        display: flex;
    }

    #footerLogo {
        text-align: center ;
        display: flex;
        justify-content: center;
    }

    #footerIcons {
        text-align: center ;
        display: block ;
        margin-top: 1rem;
    }

    .FooterContent{
        justify-content: center;
    }

    .copyrightText{
        font-size: 0.8rem;
    }
}